In [3]:
import pandas as pd

football = pd.read_csv('../data/data_sf.csv')
small_df = football[football.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [4]:
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Argentina    3
Belgium      3
Uruguay      3
Germany      3
France       2
Italy        1
England      1
Croatia      1
Poland       1
Portugal     1
Brazil       1
Slovenia     1
Name: Nationality, dtype: int64

In [6]:
s.index

Index(['Spain', 'Argentina', 'Belgium', 'Uruguay', 'Germany', 'France',
       'Italy', 'England', 'Croatia', 'Poland', 'Portugal', 'Brazil',
       'Slovenia'],
      dtype='object')

In [8]:
s.loc[s > 1]

Spain        4
Argentina    3
Belgium      3
Uruguay      3
Germany      3
France       2
Name: Nationality, dtype: int64

In [9]:
s[0]

4

In [12]:
football.Club.value_counts().head(10)

V-Varen Nagasaki    30
Shonan Bellmare     30
FC Emmen            29
Padova              29
Vissel Kobe         29
De Graafschap       29
Cambridge United    28
Stevenage           28
Sagan Tosu          28
Yeovil Town         28
Name: Club, dtype: int64

In [15]:
football.Club.value_counts()

V-Varen Nagasaki     30
Shonan Bellmare      30
FC Emmen             29
Padova               29
Vissel Kobe          29
                     ..
FC Metz               8
GD Chaves             7
Vitória Guimarães     7
Dinamo Zagreb         7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [17]:
s = small_df['Nationality'].value_counts(normalize=True)
display(s)

Spain        0.16
Argentina    0.12
Belgium      0.12
Uruguay      0.12
Germany      0.12
France       0.08
Italy        0.04
England      0.04
Croatia      0.04
Poland       0.04
Portugal     0.04
Brazil       0.04
Slovenia     0.04
Name: Nationality, dtype: float64

In [23]:
s = football.Position.value_counts(normalize=True)
s.loc[s > 0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

In [24]:
s.loc[s < 0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [25]:
s = small_df['Age'].value_counts()
display(s)

27    5
32    5
31    3
26    3
29    2
24    2
33    2
30    1
28    1
25    1
Name: Age, dtype: int64

In [26]:
s = small_df['Wage'].value_counts()
display(s)

205000    3
355000    2
240000    2
300000    1
130000    1
225000    1
455000    1
340000    1
315000    1
565000    1
405000    1
215000    1
380000    1
285000    1
145000    1
290000    1
125000    1
200000    1
420000    1
94000     1
260000    1
Name: Wage, dtype: int64

In [30]:
s = small_df['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [31]:
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

        Name  Age Nationality          Club      Value    Wage Position
0   L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000       RS

In [32]:
s.index[3]

Interval(447250.0, 565000.0, closed='right')

In [35]:
s.index[0]

Interval(211750.0, 329500.0, closed='right')

In [36]:
s.index

IntervalIndex([(211750.0, 329500.0], (93528.999, 211750.0], (329500.0, 447250.0], (447250.0, 565000.0]],
              closed='right',
              dtype='interval[float64]')

In [37]:
s.index[3].left

447250.0

#### В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

In [41]:
football['FKAccuracy'].value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

#### Какие показатели точности ударов ногой демонстрирует большинство футболистов?

In [54]:
football.FKAccuracy.value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [55]:
small_df['Nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy'], dtype=object)

In [56]:
len(small_df['Nationality'].unique())

13

In [57]:
small_df['Nationality'].nunique()

13

In [59]:
len(football['Position'].value_counts())

27

In [60]:
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
display(s_df)

        index  Nationality
0       Spain            4
1   Argentina            3
2     Belgium            3
3     Uruguay            3
4     Germany            3
5      France            2
6       Italy            1
7     England            1
8     Croatia            1
9      Poland            1
10   Portugal            1
11     Brazil            1
12   Slovenia            1

In [61]:
s = football['Nationality'].value_counts()
s_df = s.reset_index()
display(s_df)

                    index  Nationality
0                 England         1368
1                 Germany          919
2                   Spain          671
3                  France          614
4               Argentina          574
..                    ...          ...
151  Central African Rep.            1
152               Grenada            1
153             Palestine            1
154               Lebanon            1
155           Philippines            1

[156 rows x 2 columns]

In [63]:
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
s_df.columns = ['Nationality','Players Count']
display(s_df)

   Nationality  Players Count
0        Spain              4
1    Argentina              3
2      Belgium              3
3      Uruguay              3
4      Germany              3
5       France              2
6        Italy              1
7      England              1
8      Croatia              1
9       Poland              1
10    Portugal              1
11      Brazil              1
12    Slovenia              1

In [64]:
display(small_df['Nationality'].value_counts())

Spain        4
Argentina    3
Belgium      3
Uruguay      3
Germany      3
France       2
Italy        1
England      1
Croatia      1
Poland       1
Portugal     1
Brazil       1
Slovenia     1
Name: Nationality, dtype: int64

#### У какого процента испанских футболистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат среди испанских игроков? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

In [70]:
football[football.Nationality == 'Spain'].Wage.value_counts(bins=4, normalize=True)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

#### Укажите количество национальностей (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

In [71]:
football[football.Club == 'Manchester United'].Nationality.nunique()

13

#### С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

In [74]:
football[(football.Nationality == 'Brazil') & (football.Club == 'Juventus')].Name.unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

#### Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [81]:
f = football
f[f.Age > 35].Club.value_counts()

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Club Atlético Tigre           3
San Martín de San Juan        3
Estudiantes de La Plata       3
                             ..
Sporting de Charleroi         1
Girona FC                     1
Foggia                        1
FC København                  1
Universidad de Chile          1
Name: Club, Length: 212, dtype: int64

#### С помощью функции value_counts с параметром bins разбейте всех футболистов родом из Аргентины (Nationality = 'Argentina') на 4 равные группы по возрасту. Сколько футболистов из Аргентины в возрасте от 34,75 до 41 года?

In [85]:
f[f.Nationality == 'Argentina'].Age.value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

#### Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [105]:
f[f.Nationality == 'Spain'].Age.value_counts(normalize=True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64